/* Whatsap Satart */

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #25d366;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px #999;
	z-index: 100;
}

.my-float {
	margin-top: 16px;
}

/* Whatsapp End */


/* İletişim Formu Start */

#overlay {
	width: 100%;
	height: 100%;
	position: relative;
}

form {
	max-width: 400px;
	width: 90%;
	background: white;
	margin: 10px auto 5px auto;
	padding: 20px;
	border-radius: 3px;
	box-sizing: border-box;
	border: 2px solid black;
	font-size: 12px;
	border-radius: 30px;
}

h1 {
	margin: 0;
	text-align: center;
	color: black;
}

label {
	display: block;
	margin: 20px 0;
	font-size: 20px;
	color: white;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input,
textarea {
	width: 100%;
	padding: 1px;
	box-sizing: border-box;
	outline: none;
	resize: none;
	border: none;
	border-bottom: 1px solid #d3d3d3;
}

input[type="text"]:focus,
textarea:focus {
	border-bottom: 1px solid rgb(255, 0, 106);
}

textarea::-webkit-scrollbar {
	width: 4px;
}

textarea::-webkit-scrollbar-thumb {
	background-color: rgb(255, 0, 106);
}

.center {
	text-align: center;
}

input[type="submit"] {
	margin-top: 10px;
	width: 90%;
	max-width: 200px;
	background: linear-gradient(to right, rgb(0, 0, 0, 0), rgb(255, 67, 61));
	color: white;
	font-size: 17px;
	cursor: pointer;
	border-radius: 3px;
}

input[type="submit"]:hover {
	background-color: red;
}

.error {
	color: red;
}

.error-border {
	border-bottom: 1px solid red;
}

#success {
	color: #28a745;
}

/* İletişim Formu End */